.view {
	@include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
	@include hide-scrollbars;
	flex: 1;
	overflow-y: scroll;
	padding: $whitespace;

	@include respond-below(xxl) {
		@include column();
	}
}