<template name="view">
	<div class="workspace__column">
		<h2>View - Dashboard</h2>
	</div>

	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>

	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>

	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>

	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
	<div class="workspace__column workspace__column--third">
		{{> card_workspace}}
	</div>
</template>