.therapy {
	@include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
	@include column(15/100, $behavior: stacking);
	@include hide-scrollbars;
	@include transition();
	overflow-y: scroll;
	border-left: $border;
	padding: $whitespace;

	@include respond-below(xxl) {
		z-index: 1;
		background: $color-grey;
		margin-left: -15%;
		margin-right: -15%;
		
		&--is-active {
			transform: translateX(-100%);
		}
	}
}