.therapy {
	@include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
	@include column(15/100, $behavior: stacking);
	@include hide-scrollbars;
	transition: transform 165ms ease-in;
	overflow-y: scroll;
	border-left: $border;
	padding: $whitespace;

	@include respond-between(m, xxl) {
		z-index: 1;
		background: $color-grey;
		margin-right: -250px;
		width: 250px;
		transform: translateX(100%);

		&.is-active {
			transform: translateX(-100%);
		}
	}
}