<template name="therapy">
	<section class="therapy {{state}}">
		<h2>Therapy</h2>
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
		<div class="therapy__infobox">
			<h3>Infobox</h3>
			<p>Lorem ipsum dolor sit amet, conset adipisicing elit. In ea, nulla laudan dolor sit amet, conset adipisicing elit. In ea, nulla laudan.</p>
		</div>
		<div class="therapy__infobox">
			<h3>Infobox</h3>
			<p>Lorem ipsum dolor sit amet, conset adipisicing elit. In ea, nulla laudan dolor sit amet, conset adipisicing elit. In ea, nulla laudan.</p>
		</div>
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. </p>
		<div class="therapy__infobox">
			<h3>Infobox</h3>
			<p>Lorem ipsum dolor sit amet, conset adipisicing elit. In ea, nulla laudan dolor sit amet, conset adipisicing elit. In ea, nulla laudan.</p>
		</div>
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
	</section>
</template>