<template name="therapy">
	<section class="therapy {{state}}">
		<h2>Therapy</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore, laboriosam cum illum labore fuga numquam at odit eaque eos accusantium quos hic rerum temporibus fugiat repudiandae.</p>

		<h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ea, nulla, laudantium quidem asperiores tempora recusandae ullam, architecto vitae similique deserunt doloribus itaque rem. Sapiente fugiat deleniti possimus recusandae.</p>

		<h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ea, nulla, laudantium quidem asperiores tempora recusandae ullam, architecto vitae similique deserunt doloribus itaque rem. Sapiente fugiat deleniti possimus recusandae.</p>
	</section>
</template>