<template name="therapy">
	<section class="therapy {{state}}">
		<h2>Therapy</h2>
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
		{{> infobox}}
		{{> infobox}}
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. </p>
		{{> infobox}}
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
		{{> infobox}}
		{{> infobox}}
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore. </p>
		{{> infobox}}
		<p>Lorem ipsum dolor sit amet, consec adipisicing elit. Voluptates ad ea iure ipsa perferendis veritatis esse sit tempore.</p>
	</section>
</template>