.banner	{
	@include flexbox($align: stretch);
	@include column();
	background: $color-brand;
	min-height: $whitespace*6;
	color: #fff;
	
	&.is-active {min-height: $whitespace*12;}

	&__info1,
	&__info2 {
		border-right: $border;
		padding: $whitespace;
	}
	&__info1 {
		width: $sidebar-width;
	}
	&__info2 {
		width: $sidebar-addon-width;
	}
	&__image {
		max-width: 100px;
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		border: 2px solid #fff;
	}
	&__main {
		flex: 1;
		padding: $whitespace;
	}
	&__aside {
		width: $sidebar-width;
		border-left: $border;
		padding: $whitespace;
	}
}