.banner	{
	@include flexbox($align: stretch);
	@include column();
	background: $color-brand;
	min-height: $whitespace*6;
	color: #fff;
	
	&.is-toggled {min-height: $whitespace*12;}

	&__info1 {
		border-right: $border;
		padding: $whitespace;
		width: $sidebar-width;
	}
	&__image {
		max-width: 100px;
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		border: 2px solid #fff;
	}
	&__main {
		@include flexbox($justify: flex-start);
		flex: 1;
		padding: $whitespace;
	}
	&__aside {
		width: $sidebar-width;
		border-left: $border;
		padding: $whitespace;
	}

	// List
	&__list {
		margin: 0 $whitespace*2 0 0;
		padding-left: 0;
		list-style: none;
	}
	&__listitem {
		
		span {
			display: inline-block;
			min-width: 80px; 
			font-weight: bold;
		}
	}
}