<template name="banner">
	<section class="banner {{state}}">
		<div class="banner__info1">
			<img class="banner__image" src="/images/{{photo}}" alt="patient">
		</div>
		<div class="banner__main">
			<ul class="banner__list">
				<li class="banner__listitem"><span>First Name:</span> {{firstname}}</li>
				<li class="banner__listitem"><span>Last Name:</span> {{lastname}}</li>
				<li class="banner__listitem"><span>Phone:</span> {{phone}}</li>
				<li class="banner__listitem"><span>Email:</span> {{email}}</li>
				<li class="banner__listitem"><span>Country:</span> {{country}}</li>
			</ul>
			<ul lass="banner__list">
				<li class="banner__listitem"><span>Last Exam:</span> {{lastExamination}}</li>
				<li class="banner__listitem"><span>Next Exam:</span> {{nextExamination}}</li>
				<li class="banner__listitem"><span>Status:</span> {{status}}</li>
				<li class="banner__listitem"><span>Condition:</span> {{condition}}</li>
				<li class="banner__listitem"><span>Payment:</span> {{payment}}</li>
			</ul>
		</div>
		<div class="banner__aside">context1</div>
	</section>
</template>