<template name="banner">
	<section class="banner {{state}}">
		<div class="banner__info1">
			<img class="banner__image" src="/images/patient.jpg" alt="patient">
		</div>
		<div class="banner__info2">info2</div>
		<div class="banner__main">
			<ul>
				<li>First Name: {{firstname}}</li>
				<li>Last Name: {{lastname}}</li>
				<li>Phone: {{phone}}</li>
				<li>Email: {{email}}</li>
				<li>Country: {{country}}</li>
			</ul>
			<ul>
				<li>Last Examination: {{lastExamination}}</li>
				<li>First Examination: {{firstExamination}}</li>
				<li>Status: {{status}}</li>
				<li>Condition: {{condition}}</li>
				<li>Payment: {{payment}}</li>
			</ul>
		</div>
		<div class="banner__aside">context1</div>
	</section>
</template>