.filter	{
	@include flexbox();
	@include column();
	z-index: 10;
	background: #fff;
	box-shadow: $box-shadow;

	&__filter {
		@include flexbox()
		width: $sidebar-width;
		border-right: $border;
		padding: $whitespace;
	}
	&__main {
		@include flexbox()
		flex: 1;
		padding: $whitespace;
	}
	&__aside{
		@include flexbox()
		width: $sidebar-width;
		border-left: $border;
		padding: $whitespace;
	}
}