.filter	{
	@include flexbox();
	@include column();
	z-index: 10;
	background: #fff;
	box-shadow: $box-shadow;

	&__aside{
		@include flexbox($align: center);
		height: $toolbar-height;
		width: $sidebar-width;
		padding: 0 $whitespace;

		&--left {
			border-right: $border;
		}
		&--right {
			border-left: $border;
		}
	}
	&__main {
		@include flexbox($align: center);
		flex: 1;
		height: $toolbar-height;
		padding: 0 $whitespace;
	}
}