<template name="filter">
	<section class="filter">
		<!-- Aside Left -->
		<div class="filter__aside filter__aside--left">
			<!-- Toggle -->
			<i class="icon ion-android-menu filter__toggle filter__toggle--left"></i>
			<!-- Controls -->
			<div class="filter__controls filter__controls--left">
				Measure-Filter <i class="icon ion-android-arrow-dropdown"></i></div>
			</div>
		<!-- Main -->
		<div class="filter__main">main</div>
		<!-- Aside Right -->
		<div class="filter__aside filter__aside--right">
			<!-- Controls -->
			<div class="filter__controls filter__controls--right">
				Therapy-Filter <i class="icon ion-android-arrow-dropdown"></i>
			</div>
			<!-- Toggle -->
			<i class="icon ion-android-menu filter__toggle filter__toggle--right"></i>
		</div>
	</section>
</template>