.measure {
	@include flexbox($direction: row, $justify: flex-start, $wrap: wrap);
	@include hide-scrollbars;
	@include transition();
	z-index: 1;
	width: $sidebar-width;
	background: $color-grey;
	overflow-y: scroll;
	border-right: $border;
	padding: $whitespace;
	
	&.is-toggled {
		margin-right: -$sidebar-width;
		transform: translateX(-100%);
	}

	@include respond-below(xxl) {
		margin-right: -$sidebar-width;
		transform: translateX(-100%);

		&.is-toggled {
			transform: translateX(0);
		}
	}
}