.measure {
	@include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
	@include hide-scrollbars;
	width: $sidebar-width;
	transition: transform 165ms ease-in;
	overflow-y: scroll;
	border-right: $border;
	padding: $whitespace;

	@include respond-between(m, xxl) {
		z-index: 1;
		background: $color-grey;
		margin-right: -$sidebar-width;
		transform: translateX(-100%);

		&.is-active {
			transform: translateX(0);
		}
	}
}