.navigation	{
	@include flexbox();
	@include column();
	z-index: 10;
	background: #fff;

	&__aside {
		@include flexbox($align: center);
		height: $toolbar-height;
		width: $sidebar-width;
		padding: 0 $whitespace;

		&--left {
			border-right: $border;
		}
		&--right {
			border-left: $border;
		}
	}
	&__controls {
		@include flexbox($align: center);
		flex: 1;
		margin-left: $whitespace/2;
	}
	&__options {
		
		&--left {
			border-right: $border;
			padding-right: $whitespace;
		}
		&--right {
			border-left: $border;
			padding-left: $whitespace;
		}
	}
	&__main {
		@include flexbox($align: center);
		flex: 1;
		height: $toolbar-height;
		padding: 0 $whitespace;
	}
}