<template name="navigation">
	<section class="navigation">
		<div class="navigation__controls">
			<div class="navigation--icons">
				<i class="icon navigation--icon ion-chevron-left"></i>
				<i class="icon navigation--icon ion-chevron-left"></i>
				<i class="icon navigation--icon ion-chevron-right"></i>
				<i class="icon navigation--icon ion-chevron-right"></i>
			</div>
			controls 
			</div>
		<div class="navigation__main">
			main
			<div class="navigation--icons">
				<i class="navigation--icon icon ion-search"></i>
			</div>
		</div>
		<div class="navigation__settings">
			settings
			<div class="navigation--icons">
				<i class="navigation--icon icon ion-ios-settings-strong"></i>
				<i class="navigation--icon icon ion-android-settings"></i>
			</div>
		</div>
	</section>
</template>