<template name="navigation">
	<section class="navigation">
		<div class="navigation__controls">
			<div class="navigation--icons">
				<i class="icon ion-android-arrow-dropleft-circle"></i>
				<i class="icon ion-android-arrow-dropleft-circle"></i>
				<i class="icon ion-android-arrow-dropright-circle"></i>
				<i class="icon ion-android-arrow-dropright-circle"></i>
			</div>
			controls 
			</div>
		<div class="navigation__main">main</div>
		<div class="navigation__settings">
			settings
			<div class="navigation--icons">
				<i class="navigation--icon icon ion-android-settings"></i>
			</div>
		</div>
	</section>
</template>