<template name="navigation">
	<section class="navigation">
		<div class="navigation__controls">
			<div class="navigation--icons">
				<i class="icon navigation--icon navigation--prev ion-android-arrow-dropleft"></i>
				<i class="icon navigation--icon navigation--next ion-android-arrow-dropright"></i>
			</div>
			controls 
			</div>
		<div class="navigation__main">
			main
			<div class="navigation--icons">
				<i class="navigation--icon icon ion-android-search"></i>
			</div>
		</div>
		<div class="navigation__settings">
			settings
			<div class="navigation--icons">
				<i class="navigation--icon icon ion-android-more-horizontal"></i>
			</div>
		</div>
	</section>
</template>