.navigation	{
	@include container();
	@include flexbox();
	@include column(1/1);
	background: #fff;

	&__controls {
		@include column(6/20);
		border-right: $border;
		padding: $whitespace/2 $whitespace;
	}
	&__main {
		@include column(10/20);
		padding: $whitespace/2;
	}
	&__settings {
		@include column(4/20);
		border-left: $border;
		padding: $whitespace/2;
	}
}