.card {
	@include flexbox();
	@include column();
	@include transition();
	padding: $whitespace;
	margin-bottom: $whitespace;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	background: #fff;
	
	&--small {	
		cursor: pointer;
		padding: $whitespace/2;

		&:hover {
			box-shadow: $box-shadow-size-3;
			transform: translatey(-5px) scale(1.05);
		}
	}

	&__header {
		@include flexbox();
		@include column();
		border-bottom: $border;
		padding-bottom: $whitespace/2;
		margin-bottom: $whitespace/2;
	}
	&__icon {
		color: darken($color-grey, 25%);
	}
	&__image {
		@include column(3/4, $gutter: 10px);
		margin-bottom: 0;
	}
	&__value {
		@include column(1/4, $gutter: 10px);
		margin-bottom: 0;
		text-align: center;
		border-left: $border;

		span {
			display: block;
			font-weight: bold;
			font-size: $font-size + 2;
			margin: $whitespace/4 0;
		}
	}
}