<template name="layout_main">
	<div class="container">
		<!-- Header -->
		<section class="header">
			{{> Template.dynamic template=headerTop}}
			{{> Template.dynamic template=headerMain}}
			{{> Template.dynamic template=headerBottom}}
		</section>
		
		<!-- Workspace -->
		<section class="workspace">
			{{> Template.dynamic template=workspaceLeft}}
			<section class="view">
				{{> Template.dynamic template=workspaceMain}}
			</section>
			{{> Template.dynamic template=workspaceRight}}
		</section>
		
		<!-- Footer -->
		<section class="footer">
			{{> Template.dynamic template=footerMain}}
		</section>
	</div>
</template>