<template name="card_workspace">
	<section class="card">
		<h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis amet reprehenderit impedit ipsam exercitationem ullam odio officiis illo iste atque quod temporibus laudantium eaque officia, minus deserunt, sapiente at.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis amet reprehenderit impedit ipsam exercitationem ullam odio officiis illo iste atque quod temporibus laudantium eaque officia, minus deserunt, sapiente at.</p>
	</section>
</template>