<template name="table">
	<h2>View - Table</h2> 
    <div class="icons">
        <!-- Table-Controls -->
        {{#if tablecontrols}}
            <i class="icon icon--button icon--large icon--tablecontrols ion-toggle-filled"></i>
        {{else}}
            <i class="icon icon--button icon--large icon--tablecontrols ion-toggle"></i>
        {{/if}}
        <!-- UI State -->
        {{#if uistate}}
            <i class="icon icon--large icon--button icon--uistate ion-arrow-expand"></i>
        {{else}}
            <i class="icon icon--large icon--button icon--uistate ion-arrow-shrink"></i>
        {{/if}}
    </div>
	<div class="workspace__column">
		<div class="card">
            <table id="datatable" class="table hover cell-border dt-responsive nowrap {{uistate}} {{tablecontrols}}" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="dt-head-left">First</th>
                        <th class="dt-head-left">Last</th>
                        <th class="dt-head-left">Phone</th>
                        <th class="dt-head-left">Email</th>
                        <th class="dt-head-left">Country</th>
                        <th class="dt-head-left">Exam1</th>
                        <th class="dt-head-left">Exam2</th>
                        <th class="dt-head-left">Status</th>
                        <th class="dt-head-left">Condition</th>
                        <th class="dt-head-left">Payment</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="dt-head-left">First</th>
                        <th class="dt-head-left">Last</th>
                        <th class="dt-head-left">Phone</th>
                        <th class="dt-head-left">Email</th>
                        <th class="dt-head-left">Country</th>
                        <th class="dt-head-left">Exam1</th>
                        <th class="dt-head-left">Exam2</th>
                        <th class="dt-head-left">Status</th>
                        <th class="dt-head-left">Condition</th>
                        <th class="dt-head-left">Payment</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each tablerows}}
                        <tr>
                            <td>{{firstname}}</td>
                            <td>{{lastname}}</td>
                            <td>{{phone}}</td>
                            <td>{{email}}</td>
                            <td>{{country}}</td>
                            <td>{{lastExamination}}</td>
                            <td>{{nextExamination}}</td>
                            <td>{{status}}</td>
                            <td>{{condition}}</td>
                            <td>{{payment}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="workspace__column workspace__column--third">
      {{> card_workspace}}
  </div>
  <div class="workspace__column workspace__column--third">
      {{> card_workspace}}
  </div>
  <div class="workspace__column workspace__column--third">
      {{> card_workspace}}
  </div>
</template>